.title {
    text-align: center;
    font-size: 250px;
    margin: 0;
}

.subtitle {
    text-align: center;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}

.buttonClass {
    font-size: 15px;
    font-family: Arial sans-serif;
    width: 140px;
    height: 50px;
    border-width: 1px;
    color: #fff;
    border-color: #0b0e07;
    border-radius: 3px;
    box-shadow: inset 0 -3px 7px 0 #29bbff;
    text-shadow: 0 1px 0 #263666;
    background: linear-gradient(#2dabf9, #0688fa);
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
}

.buttonClass:hover {
    background: linear-gradient(#0688fa, #2dabf9);
}